.table-columns {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.08em;
  color: #B0C6FF;

}

.table thead>tr>th {
  vertical-align: bottom;
  border-bottom: transparent;
}

.borderless td,
.borderless th,
tr {
  border: white !important;
}

.table-row {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
  border-radius: 8px !important;
  margin-top: 10px !important;
  height: 60px;
}


.table-hover tbody tr:hover {
  background: #FFFFFF;
  border: 1px solid #4EB4FF !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
  border-radius: 8px !important;
  cursor: pointer
}

table tr:hover td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table tr:hover td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 10px !important;
}


td {
  border: solid 1px #000;
}


.row-detail {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  align-items: center;
  letter-spacing: 0.08em;

  color: #000000;
}

.row-email {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  align-items: center;
  letter-spacing: 0.08em;

  color: #000000;
}



.contact-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: ;
  box-sizing: border-box;
}

tr input {
  display: none;

}

tr:hover input {
  display: block;
  cursor: pointer;
}


tr input:checked {
  display: inline;
}

.bin {
  display: none;
}

tr:hover .bin {
  display: block;
}


.checkbox {
  background: #FFFFFF;
  border: 1px solid #4EB4FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
  border-radius: 8px;
}

.bin {
  background: url('../../assets/images/bin-2-alternate.svg');
  box-sizing: border-box;

  border-radius: 8px;
  height: 21px;
  width: 22px;
  background-repeat: no-repeat;
}


.bin-icon {
  background: white;
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #053ED1;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #F4F7FF;
  border-radius: 4px;
}

table {
  width: 100%;
}



thead {
  display: table;
  width: calc(100% - 17px);
}

tbody {
  display: block;
  max-height: 600px;
  overflow-y: scroll;
}


tr {
  display: table;

  width: 100%;
  box-sizing: border-box;

}

td {
  text-align: left;
  border-bottom: none;
  border-left: none;
}